################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/workspace/vc10/.vs/demo/v17/ipch/AutoPCH/95376d26f5ae85d9/LIDARWEBSERVICE.ipch
/workspace/vc10/.vs/demo/v17/ipch/AutoPCH
/workspace/vc10/.vs/demo/FileContentIndex

build
bin
log
venv

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
